body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #eaeaea;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

header, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: white;
}

header h1, header p {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me, .my-projects {
    flex: 1 1 300px;
    margin: 20px;
}

.about-me img, .project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project {
    display: flex;
    margin-bottom: 20px;
    background: #f0f0f0;
    border-radius: 10px;
}

.project div {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    font-size: 0.8em;
    text-align: center;
}
